.my-row {
  margin:5px;
}

.my-col {
  margin:3px;
}

.pointer {
  cursor: pointer;
}
.default-table thead > tr > th {
  background-color: #ddd !important;
}
.form-row {

}

.form-label {
  font-size: 14px;
}

.form-input {
  width: 200px;
}

.loader {
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
}

.loader-wrapper {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out 0.2s, visibility 0.4s ease-out 0.3s;
}

.active {
  visibility: visible;
  opacity: 0.7;
}

.loader-spinner {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  left: 0;
  right: 0;
  z-index: 100;
}

.test-table {
  width: 1024px;
  margin: 0 auto;
}

.table-column {
  display: inline-block;
}

.pag-link:after {
  content: '' !important;
}

.content {
  margin: 0 auto;
  width: 1024px;
  background: #fff;
  padding: 24px;
  margin-top: 20px;
  minHeight: 280px;
}

.ant-row.ant-form-item {
  margin-bottom: 0px;
}

.ant-form-item-label {
  line-height: 15px;
}

.tree-level {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.tree-level .click {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.image-type {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*.tooltip-images{*/
/*position: absolute;*/
/*padding: 10px;*/
/*background: rgba(0, 0, 0, 0.5);*/
/*}*/
/*.image-type-container{*/
/*position: relative;*/
/*}*/
/*.image-type-container:hover .image-type{*/
/*!*opacity: 0.5;*!*/
/*}*/

/*.image-type-container:hover .image-type-name{*/
/*display: block;*/
/*position: absolute;*/
/*border-radius: 10px;*/
/*height:100%;*/
/*top: 0px;*/
/*bottom: 0px;*/
/*width: 100%;*/
/*text-align: center;*/
/*font-size: 16px;*/
/*background: rgba(255, 255, 255, 0.5);*/
/*}*/
/*.image-type-name{*/
/*display: none;*/
/*}*/
